.example-card {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
 
  
  .mat-card-title,
  .mat-card-subtitle,
  .mat-list-item {
    text-align: center;
    margin: 8px 0;
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .annuler-button {
    margin-right: 10px;
  }
  