.example-card {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.example-header-image {
  background-image: url("https://png.pngtree.com/png-clipart/20191122/original/pngtree-user-icon-isolated-on-abstract-background-png-image_5192004.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.mat-card-title,
.mat-card-subtitle,
.mat-list-item {
  text-align: center;
  margin: 8px 0;
}
/* Add this in your component's .scss file or your global styles.css */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Pink button style */
.pink-button {
  background-color: #ff7aa2; /* Salmon color for the buttons */
  color: #fff;
}