mat-form-field {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.annuler-button {
  margin-right: 10px;
  background-color: #ff7aa2; /* Pink color code */
  color: #fff;

}
/* Add styles for the container */
.ajout-container {
border: 2px solid  #ff7aa2; /* Red color for the border */
border-radius: 8px;
margin-bottom: 20px;

}

/* Add styles for the heading */
.ajout-heading {
background-color: #ff7aa2; /* Salmon color code */
color: #fff; /* White color for the heading text */
font-size: 24px;
padding: 10px; /* Add some padding to the heading for better spacing */
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
/* Button Styling */
.custom-button button {
  background-color: #ff7aa2; /* Pink color code */
  color: #fff;
  margin-right: 10px;
}

.custom-button button:last-child {
  margin-right: 0;
} 