<!-- Student Distribution by Gouvernorat Pie Chart -->
<div style="display: block;">
    <canvas baseChart
            [data]="gouvernoratData"
            [labels]="gouvernoratLabels"
            [chartType]="gouvernoratChartType"
            [options]="gouvernoratChartOptions">
    </canvas>
  </div>
  
  <!-- Student Age Distribution Bar Chart -->
  <div style="display: block;">
    <canvas baseChart
            [data]="ageData"
            [labels]="ageLabels"
            [chartType]="ageChartType"
            [options]="ageChartOptions">
    </canvas>
  </div>
  